.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;

  .nav-bar {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-self: flex-end;
    a {
      color: #ff9f1c;
      margin: 20px 20px 0 0;
      text-decoration: none;
      &:hover {
        color: #dc98b1;
      }
    }
  }
}

.active {
  border-bottom: 1px solid #ff9f1c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
